name,value

ARM_CLIENT_ID,
ARM_CLIENT_SECRET,

ARM_TENANT_ID,
ARM_SUBSCRIPTION_ID,

TF_VAR_state_resource_group_name,
TF_VAR_state_storage_account_name,
TF_VAR_state_container_name,
TF_VAR_state_key,azure/prod.autotag

TF_VAR_azure_subscription_id,

#import-csv *.env.secrets | ? {$_.name -notmatch '^#|^$'} | % {"Add env var $($_.name)"; New-Item -Name $_.name -Value $_.value -Path "env:\" -force | out-null}
